# This is an example .env file for a Django application. You should copy this file to .env and replace the values with your own configuration.
# For example:
# cp .env.example .env
# Then edit the .env file and set the appropriate values for your environment.

DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1