# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------
# macOS
# ---------------------------
.DS_Store

# ---------------------------
# Virtual Environments
# ---------------------------
application/.venv/

# ---------------------------
# Local Environment Variables
# ---------------------------
application/.env

# ---------------------------
# Local Database
# ---------------------------
application/db.sqlite3

# ---------------------------
# Credentials / Secrets
# ---------------------------
#credentials/

# ---------------------------
# Misc
# ---------------------------
*.log

# ---------------------------
# Staticfiles
# ---------------------------
application/staticfiles