<!--
create_listing.html
 This template extends the base.html template and provides the 
 HTML structure for the "Create Listing" page in the marketplace app. 
 It includes a form for users to input details about their listing, 
 such as title, description, price, and category.
 Created by Subreet Singh on 04-09-2026
-->
 {% extends "base.html" %}
    
    {% block title %}Create Listing | Alli-Trade{% endblock %}
    
    {% block content %}
        <!--
        add code for create listing form
        -->
        {% endblock %}