<!--
 listing_detail.html
    This template extends the base.html template and provides the
    HTML structure for the "Listing Detail" page in the marketplace app.
    It displays detailed information about a specific listing, including
    the title, description, price, category, and seller information.
    Created by Subreet Singh on 04-09-2026
-->
{% extends "base.html" %}

{% block title %}Listing Detail | Alli-Trade{% endblock %}

{% block content %}
<!--
add code for listing detail page
-->
{% endblock %}
